<div class="am-cf am-padding-bottom-0">
    <div class="am-fl am-cf">
        <ol class="am-breadcrumb am-breadcrumb-slash">
            <li><a href="#">首页</a></li>
            <li class="am-active">项目类型</li>
        </ol>
    </div>
    <div class="am-fr">
        <a href="javascript:;" onclick="am_modal_popup('{:U(\'Catalog/add\')}', '新增类型', 'user.html')" class="am-btn am-btn-secondary am-btn-xs">
            <i class="am-icon-plus"></i>
            新增类型
        </a>
    </div>
</div>
<div class="page-bg">
    <table class="am-table">
        <thead>
            <tr>
                <th style="width:50px;">ID</th>
                <th style="width:auto;">类型</th>
                <th style="width:120px;">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>整站</td>
                <td>
                    <a href="#" style="margin-right:10px;color:#3BB4F2"><span class="am-icon-pencil-square-o"></span> 编辑</a>
                    <a href="#" style="color:#D7342E"><span class="am-icon-trash-o"></span> 删除</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<button
        type="button"
        class="am-btn am-btn-danger"
        data-am-modal="{target: '#my-popup'}">
    Popup
</button>

<div class="am-popup" id="my-popup">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title">...</h4>
      <span data-am-modal-close
            class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
            ...
        </div>
    </div>
</div>